.imcms-number__label{
    margin-bottom: 12px;
    display: inline-block;
}

.imcms-choose-file__input{
    margin-bottom: 8px;
    padding: 10px 15px;
    display: block;
    background-color: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

.imcms-choose-file__button{
    margin-right: 18px;
}

.imcms-choose-file__file-name{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #2f4047;
}