.imcms-number__label {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
}

.imcms-choose-file__input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -50;
    cursor: pointer;
    height: 15px;
    width: 60px;
    opacity: 0;
}

.imcms-choose-file__file-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #2f4047;
}