.imcms-date-time {
    position: relative;
    padding: 10px;
    display: block;
    max-width: 150px;
    min-width: 94px;
    background-color: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.imcms-date-time .imcms-date-picker__current-date {
    display: inline-block;
    float: left;
    width: 70%;
}

.imcms-date-time .imcms-date-picker__current-date input {
    text-align: center;
}

.imcms-date-time .imcms-time-picker__current-time input{
    text-align: left;
}

.imcms-date-time .imcms-time-picker__current-time {
    float: left;
    width: 30%;
    display: inline-block;
}

.imcms-date-time--without-label {
    margin-top: 25px;
}