.imcms-field {
    padding-top: 10px;
    padding-bottom: 10px;
}

.imcms-field__select{
    display: block;
    width: 100%;
}

.imcms-field__select .imcms-select__drop-down-list{
    display: block;
}


/*.imcms-field__item {*/
/*}*/

/*.imcms-field__item--title {*/
    /*text-transform: uppercase;*/
/*}*/

/*.imcms-field__item__title {*/
    /*margin-bottom: 10px;*/
/*}*/

/*.imcms-field__item .imcms-data-picker {*/
    /*float: left;*/
    /*margin-right: 5px;*/
/*}*/

/*.imcms-field__item .imcms-time-picker {*/
    /*float: left;*/
/*}*/