.imcms-field {
    margin-bottom: 10px;
    overflow: hidden;
}

.imcms-field__item {
}

.imcms-field__item--title {
    text-transform: uppercase;
}

.imcms-field__item__title {
    margin-bottom: 10px;
}

.imcms-field__item .imcms-data-picker {
    float: left;
    margin-right: 5px;
}

.imcms-field__item .imcms-time-picker {
    float: left;
}