.imcms-flag{
    padding: 0;
    display: block;
    border: none;
    border-radius: 0;
    cursor: pointer;
    opacity: 0.5;
    outline: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.imcms-flag__en{
    background: url("../img/icon_flag_en_active.png") no-repeat left top;
}

.imcms-flag__sw{
    background: url("../img/icon_flag_sw_active.png") no-repeat left top;
}

.imcms-flag--active{
    opacity: 1;
}
