.imcms-head {
    background-color: #389ecf;
    text-align: center;
    display: block;
    width: 100%;
}

.imcms-head__title {
    color: #fff;
    line-height: 42px;
    text-transform: uppercase;
}