.imcms-right-side::-webkit-scrollbar-track {
    background-color: transparent;
}

.imcms-right-side::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

.imcms-right-side::-webkit-scrollbar-thumb {
    background-color: #dfe2e6;
}

.imcms-left-side::-webkit-scrollbar-track {
    background-color: transparent;
}

.imcms-left-side::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

.imcms-left-side::-webkit-scrollbar-thumb {
    background-color: #dfe2e6;
}

.imcms-content-manager__left-side::-webkit-scrollbar-thumb {
    background-color: #6c7383;
}


.imcms-text-area__input::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.imcms-text-area__input::-webkit-scrollbar {
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 6px;
}

.imcms-text-area__input::-webkit-scrollbar-thumb {
    background-color: #dfe2e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}