.imcms-folder__controls{
    display: none;
    float: right;
    padding: 26px 0;
    position: relative;
}

.imcms-controls__control{
    display: block;
    float: right;
    margin-left: 18px;
}

