.imcms-main-folders-controls{
    border-bottom: 2px solid #d3d8de;
    display: block;
    overflow: hidden;
    padding: 26px 25px;
    width: 100%;
}

.imcms-main-folders-controls__control{
    float: right;
}

.imcms-folder__controls {
    display: none;
    float: right;
    padding: 26px 0;
    position: relative;
}

.imcms-controls__control {
    display: block;
    float: right;
    margin-left: 18px;
}

.imcms-panel-named{
    display: block;
    height: 70px;
    width: 100%;
    overflow: hidden;
    padding-left: 70px;
    padding-top: 16px;
}

.imcms-panel-named__input{
    display: inline-block;
    width: 70%;
    margin-right: 10px;
}

.imcms-panel-named__button{
    display: inline-block;
    color: #fff;
}