.imcms-tabs {
}

.imcms-tabs .imcms-tab {
}

.imcms-tab {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    padding: 27px 35px;
    position: relative;

}

.imcms-tab:hover {
    border-color: #ebedef;
}

.imcms-tab:hover:after {
    content: "";
    background-color: #389ecf;
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 3px;
    height: -webkit-calc(100% + 2px);
    height: -moz-calc(100% + 2px);
    height: -ms-calc(100% + 2px);
    height: -o-calc(100% + 2px);
    height: calc(100% + 2px);
}

.imcms-tab--active {
    border-color: #ebedef;
}

.imcms-tab--active:after {
    content: "";
    background-color: #389ecf;
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 3px;
    height: -webkit-calc(100% + 2px);
    height: -moz-calc(100% + 2px);
    height: -ms-calc(100% + 2px);
    height: -o-calc(100% + 2px);
    height: calc(100% + 2px);
}
