.imcms-field {
  padding-bottom: 10px;
  padding-top: 10px;
}

.imcms-field__select {
  display: block;
  width: 100%;
}

.imcms-field .imcms-field__select .imcms-select__drop-down-list {
  display: block;
}

.imcms-field .imcms-text-box__input,
.imcms-field .imcms-text-area__input {
  width: 100%;
}

.imcms-field .imcms-field__number .imcms-number-box {
}

.imcms-field .imcms-field__number .imcms-number-box__input {
}

.imcms-field .imcms-field__file {
}

.imcms-field .imcms-field__space-around {
}

.imcms-field .imcms-field__keyword .imcms-text-box__input {
  display: inline-block;
  width: 90%;
}

.imcms-field__item {
  display: block;
  margin-right: 5px;
}

.imcms-field__item--float-l {
  float: left;
}

.imcms-field__title {
  margin-bottom: 10px;
}
