.imcms-keyword {
    margin-bottom: 30px;
}

.imcms-keyword__label {
    margin-bottom: 12px;
    display: inline-block;
}

.imcms-keyword .imcms-text-box__input {
    margin-right: 23px;
    display: inline-block;
}

.imcms-keyword__button {
    display: inline-block;
}

.imcms-keyword__filters {
    margin-top: 11px;
    display: block;
}

.imcms-keyword__filter {
    padding: 6px 14px;
    display: inline-block;
    background-color: #d0e9f9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #2f4047;
}