.imcms-cycle-box .imcms-cycle__button {
    margin: 0 16px;
    line-height: 37px;
    text-transform: uppercase;
}

.imcms-cycle-box .imcms-date-time {
    display: inline-block;
}

.imcms-cycle-box input[type="text"] {
    display: inline-block;
    width: 60px;
    line-height: 22px;
    text-align: center;
}