@import url("reset.css");
@import url("fonts.css");
@import url("button.css");
@import url("form.css");
@import url("input.css");
@import url("label.css");
@import url("checkbox.css");
@import url("switch.css");
@import url("radio.css");
@import url("text_box.css");
@import url("text_area.css");
@import url("select.css");
@import url("number_box.css");
@import url("choose_file.css");
@import url("placeholder.css");
@import url("space-around-inputs.css");
@import url("keyword.css");
@import url("messages.css");
@import url("calendar.css");
@import url("data_picker.css");
@import url("time_picker.css");
@import url("field.css");
@import url("access_tabs_page.css");
@import url("tabs.css");
@import url("head.css");
@import url("pop_up_modal.css");

body {
    padding-bottom: 500px;
    padding-left: 15px;
    overflow: hidden;
}