.imcms-number {
}

.imcms-number__label {
    display: inline-block;
}

.imcms-number-box {
    position: relative;
    display: block;
    max-width: 310px;
}

.imcms-number-box__input {
    padding: 10px 15px;
    display: block;
    width: 100%;
    background-color: #f3f3fd;
    color: #587380;
}

.imcms-number-box__error-msg {
    display: none;
}

.imcms-number-box--active .imcms-number-box__input {
    border-color: #0b94d8;
    background-color: #fff;
    color: #1f2a2e;
}

.imcms-number-box--active .imcms-button--increment {
    display: block;
    top: 0;
}

.imcms-number-box--active .imcms-button--decrement {
    display: block;
    bottom: 0;
}

.imcms-number-box--error .imcms-number-box__input {
    background-color: #fff;
    border-color: #d3d8de;
    color: #da1a1a;
}

.imcms-number-box--error + .imcms-number-box__error-msg {
    display: block;
    margin-top: 10px;
}

.imcms-number__button {
    right: 0;
    padding: 0 10px;
    display: none;
}