.imcms-number{}
.imcms-number__label{
    margin-bottom: 12px;
    display: inline-block;
}

.imcms-number-box{
    position: relative;
    display: inline-block;
}

.imcms-number-box__input{
    padding: 10px 15px;
    display: block;
    background-color: #f3f3fd;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    color: #587380;
}

.imcms-number-box__error-msg{
    display: none;
}

.imcms-number-box--active .imcms-number-box__input{
    border-color: #0b94d8;
    background-color: #fff;
    color: #1f2a2e;
}

.imcms-number-box--active .imcms-button--increment{
    display: block;
}

.imcms-number-box--active .imcms-button--decrement{
    display: block;
}

.imcms-number-box--error .imcms-number-box__input{
    background-color: #fff;
    border-color: #d3d8de;
    color: #da1a1a;
}

.imcms-number-box--error + .imcms-number-box__error-msg{
    display: block;
}