.imcms-switches{}
.imcms-flags::after {
    content: '';
    display: block;
    clear: both;
}
.imcms-switches__switch{
    margin-right: 10px;
    float: left;
}
.imcms-switches__switch:last-child {
    margin-right: 0;
}