.imcms-text-box__label {
    margin-bottom: 10px;
    display: inline-block;
}

.imcms-text-box__input {
    padding: 8px 15px;
    display: block;
    background-color: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}