.imcms-advanced-mode {
}

.imcms-advanced-mode_title {
  margin-bottom: 10px;
}

.imcms-advanced-mode__buttons {
  margin-bottom: 10px;
}

.imcms-advanced-mode__space-around {
  margin-bottom: 10px;
}

.imcms-advanced-mode__space-around .imcms-space-around__input-box {
  max-width: none;
}

.imcms-advanced-mode__crop-coordinates {

}

.imcms-crop-coordinates {
  overflow: hidden;
  margin-bottom: 10px;
}

.imcms-crop-coordinate {
  display: block;
  float: left;
  width: 45%;
  margin-right: 1%;
}

.imcms-crop-coordinate:first-child span,
.imcms-crop-coordinate:nth-child(2) span {
  margin-right: 7%;
  margin-bottom: 10px;
}

.imcms-crop-coordinate span {
  line-height: 41px;
  float: left;
  margin-right: 2.5%;
}

.imcms-crop-coordinate .imcms-number {
  float: left;
  width: 70%;
}

@media screen and (max-width: 1320px) {
  .imcms-advanced-mode__buttons {
    width: 100%;
    margin: 0 auto 10px;
  }

  .imcms-advanced-mode__buttons button {
    margin-bottom: 5px;
  }
}