.imcms-menu {
    display: block;
    float: right;
}

.imcms-menu__items {
    display: block;
    height: 100%;
    min-width: 880px;
}

.imcms-menu__item {
    background: no-repeat 50% 11px;
    color: #2f4047;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    float: right;
    padding-top: 41px;
    position: relative;
    min-width: 110px;
    height: 100%;
}

.imcms-menu__item:first-of-type {
    background: none;
    cursor: default;
    text-align: center;
    padding-top: 0;
    width: 155px;
}


.imcms-menu__item:hover:before{
    content: "";
    background-color: #0b94d8;
    display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 3px;
}

.imcms-menu__item:first-of-type:hover:before{
    display: none;
}

.imcms-menu__item:nth-of-type(2):after,
.imcms-menu__item:nth-of-type(3):after,
.imcms-menu__item:nth-of-type(4):after,
.imcms-menu__item:nth-of-type(5):after {
    content: "";
    background-color: #d3d8de;
    display: block;
    position: absolute;
    top: -17px;
    right: -1px;
    height: 90px;
    width: 1px;
}

.imcms-menu__item:first-of-type button {
    margin: 5px auto;
}

.imcms-menu__item--admin {
    background-image: url("../../img/admin_panel/icon_admin.png");
}

.imcms-menu__item--document {
    background-image: url("../../img/admin_panel/icon_doc.png");
}

.imcms-menu__item--page-info {
    background-image: url("../../img/admin_panel/icon_pageinfo.png");
}

.imcms-menu__item--publish-of {
    background-image: url("../../img/admin_panel/icon_publish.png");
}

.imcms-menu__item--preview {
    background-image: url("../../img/admin_panel/icon_preview.png");
}

.imcms-menu__item--edit {
    background-image: url("../../img/admin_panel/icon_edit.png");
}

.imcms-menu__item--public {
    background-image: url("../../img/admin_panel/icon_public.png");
}

/**/

.imcms-menu__item--admin:hover {
    background-image: url("../../img/admin_panel/icon_admin_active.png");
}

.imcms-menu__item--document:hover {
    background-image: url("../../img/admin_panel/icon_doc_active.png");
}

.imcms-menu__item--page-info:hover {
    background-image: url("../../img/admin_panel/icon_pageinfo_active.png");
}

.imcms-menu__item--publish-of:hover {
    background-image: url("../../img/admin_panel/icon_publish_active.png");
}

.imcms-menu__item--preview:hover {
    background-image: url("../../img/admin_panel/icon_preview_active.png");
}

.imcms-menu__item--edit:hover {
    background-image: url("../../img/admin_panel/icon_edit_active.png");
}

.imcms-menu__item--public:hover {
    background-image: url("../../img/admin_panel/icon_public_active.png");
}
